html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0;
  padding: 0;
  white-space: normal;
}

body {
  background: #222;
  color: #aaa;
  padding: 0.5em;
}

hr {
  clear: both;
  margin: 0.5em auto;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.text-center {
  text-align: center;
}

#steps {
  padding: 1em;
  margin: unset;
}

#steps ol {
  margin: 1em;
}

#text {
  font-size: 3em;
  font-weight: 900;
}

#counter {
  font-size: 1em;
  font-family: menlo, monospace;
}

.search-options {
  padding: 0.5em;
}

.small {
  font-size: small;
}

a {
  color: #aaa
}

#searchbox {
  width: 100%;
  position: fixed;
}


.text-header, .text-body, .text-body *{
  /* font-family: monospace; */
  word-break: break-all;
}
.text-header {
  font-size: larger;
  font-weight: bold;
}
.text-body {
  white-space: pre-wrap;
  margin-bottom: 3em;;
}
.comment-body {
  margin-bottom: 40px;
}

a {
  color: #ddd;
}

a:hover {
  color: unset;
}

.gray {
  opacity: 50%;
}

.gray:hover {
  opacity: unset;
}

.body-length {
  color: yellow;
  font-weight: bold;
  background: green;
  padding: 2px;
  margin-right: 5px;
}

.search-field, .search-button {
  padding: 0.1em
}

.search-button {
  border: 2px solid green;
  border-radius: 2px;
}

.p {
  padding: 0.25em !important;
}

.bg-dark {
  background: #333;
}

.bg-black {
  background: #000;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  float: none;
  clear: both;
}


.result {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #999
}

.content {
  padding-top: 0.25em;
  padding-right: 1em;
  width: 100%;
  overflow-y: scroll;
}

.content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.info {
  background: #333;
  padding: 0.5em;
  display: block;
}

.links {
    color: #ddd;
}

.links:hover {
    color: unset;
}

.btn {
  background: #333;
  padding: 5px;
  display: inline-block;
}

#id01 {
  margin-top: 3em;
}